In [5]:
import datetime as dt
from datetime import date
import calendar
from calendar import weekday, day_name
import pandas as pd

In [7]:
# 트레이닝 데이터를 불러옴, datae를 날짜로 불러오기 위하여 parse_dates 활용
df = pd.read_csv('weekday_training.csv', parse_dates=['date'])

In [11]:
# year, month, day 컬럼을 별도 생성. dt.year / month / day 활용
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day

# apply lambda를 통해 dt.datetime.strftime 적용 -> weekday를 문자열로 적용
df['weekday'] = df[['date']].apply(lambda x: dt.datetime.strftime(x['date'], '%a'), axis=1)

In [12]:
df

       station_nbr       date  year  month  day weekday
0                1 2012-01-01  2012      1    1     Sun
1                2 2012-01-01  2012      1    1     Sun
2                3 2012-01-01  2012      1    1     Sun
3                4 2012-01-01  2012      1    1     Sun
4                6 2012-01-01  2012      1    1     Sun
5                7 2012-01-01  2012      1    1     Sun
6                8 2012-01-01  2012      1    1     Sun
7                9 2012-01-01  2012      1    1     Sun
8               10 2012-01-01  2012      1    1     Sun
9               11 2012-01-01  2012      1    1     Sun
10              12 2012-01-01  2012      1    1     Sun
11              13 2012-01-01  2012      1    1     Sun
12              14 2012-01-01  2012      1    1     Sun
13              15 2012-01-01  2012      1    1     Sun
14              16 2012-01-01  2012      1    1     Sun
15              17 2012-01-01  2012      1    1     Sun
16              18 2012-01-01  2012      1    1     Sun
17              19 2012-01-01  2012      1    1     Sun
18              20 2012-01-01  2012      1    1     Sun
19               1 2012-01-02  2012      1    2     Mon
20               2 2012-01-02  2012      1    2     Mon
21               3 2012-01-02  2012      1    2     Mon
22               4 2012-01-02  2012      1    2     Mon
23               6 2012-01-02  2012      1    2     Mon
24               7 2012-01-02  2012      1    2     Mon
25               8 2012-01-02  2012      1    2     Mon
26               9 2012-01-02  2012      1    2     Mon
27              10 2012-01-02  2012      1    2     Mon
28              11 2012-01-02  2012      1    2     Mon
29              12 2012-01-02  2012      1    2     Mon
...            ...        ...   ...    ...  ...     ...
20487           11 2014-10-30  2014     10   30     Thu
20488           12 2014-10-30  2014     10   30     Thu
20489           13 2014-10-30  2014     10   30     Thu
20490           14 2014-10-30  2014     10   30     Thu
20491           15 2014-10-30  2014     10   30     Thu
20492           16 2014-10-30  2014     10   30     Thu
20493           17 2014-10-30  2014     10   30     Thu
20494           18 2014-10-30  2014     10   30     Thu
20495           19 2014-10-30  2014     10   30     Thu
20496           20 2014-10-30  2014     10   30     Thu
20497            1 2014-10-31  2014     10   31     Fri
20498            2 2014-10-31  2014     10   31     Fri
20499            3 2014-10-31  2014     10   31     Fri
20500            4 2014-10-31  2014     10   31     Fri
20501            5 2014-10-31  2014     10   31     Fri
20502            6 2014-10-31  2014     10   31     Fri
20503            7 2014-10-31  2014     10   31     Fri
20504            8 2014-10-31  2014     10   31     Fri
20505            9 2014-10-31  2014     10   31     Fri
20506           10 2014-10-31  2014     10   31     Fri
20507           11 2014-10-31  2014     10   31     Fri
20508           12 2014-10-31  2014     10   31     Fri
20509           13 2014-10-31  2014     10   31     Fri
20510           14 2014-10-31  2014     10   31     Fri
20511           15 2014-10-31  2014     10   31     Fri
20512           16 2014-10-31  2014     10   31     Fri
20513           17 2014-10-31  2014     10   31     Fri
20514           18 2014-10-31  2014     10   31     Fri
20515           19 2014-10-31  2014     10   31     Fri
20516           20 2014-10-31  2014     10   31     Fri

[20517 rows x 6 columns]